 {% load staticfiles %}
  <!--Slider-->
	
  <!---->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style5.css' %}" type="text/css">
  <link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet" type="text/css"/>  