{% load staticfiles %}

<form class='form-product-ajax' method='POST' action = '{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' class="form">{% csrf_token %}
<input type='hidden' name='product_id' value='{{ product.id }}'/>
	
	<span class='submit-span'>
	{% if product in cart.products.all %}
		In cart <i class="fas fa-cart-plus">In cart </i><button type='submit' class="btn btn-link">Remove?</button>
	{% else %}
		<button type='submit' class="btn btn-success">Add to Cart</button>
	{% endif %}
	</span>
</form>